.projectItem{
    background-color: silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    padding-bottom: 10px;
}
.projectItem h1{
    font-size: 60px;
}
.projectItem li{
    font-size: 20px;
    padding-left: 26px;
    text-indent: -26px;
}
.trailing li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    margin-top: 100px;
}
.trailing ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.marginalized{
    margin-right: 120px;
}
