body{
    font-family: times-new-roman;
    background-color: slategray;
    /* Removes cursor arrow */
    cursor: default;
}
#top-panel{
    box-shadow:0 0 3px 3px darkslategray;
}
#heading{
    margin-left: 25px;
    font-size: 45px;
    color: white;
    text-shadow: 0px 0.5px azure;
    display: inline-block;
}
.header-links ul{
    white-space: nowrap;
}
.header-links li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.header-links button{
    color: white;
    font-size: 18px;
    background-color: lightgray;
    margin-top: 18px;
    margin-left: 10px;
}
.header-links button:hover{
    background-color: mintcream;
}
.header-links a{
    text-decoration: none;
    color: black;
}
.logos {
    width: 42px;
    height: 42px;
}
img{
    margin-top: 4px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
h1, li, p{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
